<template>
  <div>
    <div class="mx-6 mt-6 d-flex flex-column">
      <filterHeaderComponent :count="dataTable[0].data.length"></filterHeaderComponent>
    </div>
    <div class="mb-6 d-flex flex-column">
      <tableComponent :dataTable="dataTable" :search="this.$store.state.searchCompany" thColor="white"
      :groubable="false"></tableComponent>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>
<script>
import tableComponent from '../../../../../util/components/table.component'
import filterHeaderComponent from '../../entreprise/filterHeader.component'
export default {
  name: 'Entreprise',
  data: () => ({
    dataTable: [
      {
        selected: [],
        headers: [
          {
            text: 'Nom de l\'entreprise',
            align: 'start',
            sortable: true,
            value: '[0].name',
            groupable: false
          },
          {text: 'Poste occupé', value: '[1].name', groupable: false},
          {text: 'Status & Date d\'ajout', value: '[2].type', groupable: false},
          // eslint-disable-next-line standard/object-curly-even-spacing
          {text: 'Icon', value: 'icon', sortable: false, groupable: false}
        ],
        data: [
          {
            0: {
              id: 1,
              image: 'https://upload.wikimedia.org/wikipedia/commons/c/c8/Orange_logo.svg',
              name: 'ATK Entreprise ETS',
              link: 'http://atk.steam.io'
            },
            1: {
              name: 'Founder CAO',
              title: 'Administration'
            },
            2: {
              type: 'Confirmé',
              date: '02/12/2020'
            }
          },
          {
            0: {
              id: 2,
              image: 'https://upload.wikimedia.org/wikipedia/commons/c/c8/Orange_logo.svg',
              name: 'ChickDev Sarl',
              link: 'http://atk.steam.io'
            },
            1: {
              name: null,
              title: 'Développement logiciel / Direction'
            },
            2: {
              type: 'En Attente',
              date: '23/03/2020'
            }
          },
          {
            0: {
              id: 3,
              name: 'Orange Cameroun',
              link: 'http://atk.steam.io',
              image: 'https://upload.wikimedia.org/wikipedia/commons/c/c8/Orange_logo.svg'
            },
            1: {
              name: 'Agent commercial',
              title: 'Développement logiciel / Direction'
            },
            2: {
              type: 'A Confirmer',
              date: '08/01/2020'
            }
          }
        ],
        items: ['entrepriseItemComponent', 'posteItemComponent', 'statusItemComponent']
      }
    ]
  }),
  components: {
    tableComponent,
    filterHeaderComponent
  }
}
</script>
<style lang="scss" scoped>
</style>
