<template>
  <div class="ma-6 d-flex flex-column">
    <div class="d-flex justify-space-between mt-4">
      <div class="d-flex flex-column mr-6">
        <span class="text-subtitle-2 mb-4">Utiliser un compte utilisateur personnalisé</span>
        <span class="my-1 font-weight-regular" style="font-size: 14px">En dehors de vos adresses mails et de vos numéros de téléphones, vous pouvez utilisez un
        nom utilisateur propre pour vous connecter</span>
        <div class="d-flex flex-row align-top my-4">
          <v-text-field max-width="300px" class="username mr-4" v-model="username" outlined filled dense style="max-width: 300px"></v-text-field>
          <v-btn outlined v-if="username != usernameInit" text height="40px" color="primary">Enregistrer</v-btn>
        </div>
      </div>
      <v-switch class="ml-6" v-model="switch1" color="pink" flat></v-switch>
    </div>
    <div class="d-flex flex-column mb-10">
      <div class="d-flex justify-space-between my-4">
        <span class="text-subtitle-2">Adresses mails</span>
        <v-dialog v-model="dialog1" persistent max-width="400px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn height="32px" v-bind="attrs" text v-on="on" outlined small color="primary">Ajouter</v-btn>
          </template>
          <v-card class="pa-4">
            <span class="text-subtitle-2">Ajouter une adresse mail</span>
            <v-text-field label="Email" v-model="email" :rules="emailRules" class="item-input" required type="email"
                          hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
            <v-text-field
              class="item-input"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              v-model="password"
              :rules="passwordRules"
              name="input-10-2"
              label="Mot de passe actuel"
              @click:append="show = !show"
            ></v-text-field>
            <span style="color: #6F7DC8" class="text-subtitle-2">
              <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
              <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
            </span>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn height="32px" small outlined color="blue darken-1" text @click="dialog1 = false">Annuler</v-btn>
              <v-btn height="32px" small outlined color="blue darken-1" text @click="addEmail()">Ajouter</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
      <v-simple-table class="pl-10">
        <template v-slot:default>
          <thead>
          <tr>
            <th class="first-col text-left">Mail</th>
            <th class="second-col text-left">Status</th>
            <th class="text-left">Date d'expiration</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in mails" :key="item.name">
            <td>{{ item.name }}</td>
            <td>
              <div v-if="item.expiration !== null && !item.perime">
                <v-icon small color="green">check_circle</v-icon>
                <span>Vérifié</span>
              </div>
              <div v-if="item.expiration === null">
                <v-icon small color="red">error</v-icon>
                <span>Non vérifié</span>
              </div>
              <div v-if="item.perime">
                <v-icon small color="orange">error</v-icon>
                <span>Périmé</span>
              </div>
            </td>
            <td class="d-flex justify-space-between align-center">
              <div v-if="item.expiration !== null">
                {{addFormat(item.expiration) + ' (' + addRestDay(item.expiration) + ')'}}
              </div>
              <div v-if="item.expiration == null">
                &nbsp;
              </div>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-dialog v-model="updateEmailDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs" @click="getEmail(item.name)">
                        <v-list-item-title>Modifier</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Modifier une adresse mail</span>
                      <v-text-field label="Email" v-model="updateEmailValue" :value="item.name" class="item-input" required type="email"
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="updatePasswordEmail"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="updateEmailDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="updateEmailValue == item.name ? true:false" small outlined color="blue darken-1" text @click="updateEmail(item.name,updateEmailValue)">Modifier</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="deleteEmailDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs">
                        <v-list-item-title>Supprimer</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Supprimer une adresse mail</span>
                      <v-text-field disabled label="Email" :value="item.name" class="item-input" required type="email"
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="deletePasswordEmail"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="deleteEmailDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="deletePasswordEmail == '' ? true:false" small outlined color="blue darken-1" text @click="deleteEmail(item.name)">Supprimer</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-list>
              </v-menu>
            </td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
    <div class="d-flex flex-column mb-10">
      <div class="d-flex justify-space-between my-4">
        <span class="text-subtitle-2">Numéros de téléphone</span>
        <v-dialog v-model="dialog2" persistent max-width="400px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn height="32px" v-bind="attrs" text v-on="on" outlined small color="primary">Ajouter</v-btn>
          </template>
          <v-card class="pa-4">
            <span class="text-subtitle-2">Ajouter un numéro de téléphone</span>
            <div class="d-flex">
              <v-autocomplete
                v-model="country"
                :items="countries"
                item-text="name"
                class="item-input mr-4"
                style="width: 150px"
              ></v-autocomplete>
              <v-text-field label="Phone" v-model="newPhone" class="item-input" required></v-text-field>
            </div>
            <v-text-field
              class="item-input"
              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show ? 'text' : 'password'"
              :rules="passwordRules"
              v-model="password1"
              name="input-10-2"
              label="Mot de passe actuel"
              @click:append="show = !show"
            ></v-text-field>
            <span style="color: #6F7DC8" class="text-subtitle-2">
              <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
              <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
            </span>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn height="32px" small outlined color="blue darken-1" text @click="dialog2 = false">Annuler</v-btn>
              <v-btn height="32px" :disabled="password1 === '' ? true : false" small outlined color="blue darken-1" text @click="addPhone()">Ajouter</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
      <v-simple-table class="pl-10">
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-left first-col">Numéros</th>
            <th class="text-left second-col">Status</th>
            <th class="text-left">Date d'expiration</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in phones" :key="item.name">
            <td>{{ item.name }}</td>
            <td>
              <div v-if="item.expiration !== null && !item.perime">
                <v-icon small color="green">check_circle</v-icon>
                <span>Vérifié</span>
              </div>
              <div v-if="item.expiration === null">
                <v-icon small color="red">error</v-icon>
                <span>Non vérifié</span>
              </div>
              <div v-if="item.perime">
                <v-icon small color="orange darken-3">error</v-icon>
                <span>Périmé</span>
              </div>
            </td>
            <td class="d-flex justify-space-between align-center">
              <div v-if="item.expiration !== null">
                {{addFormat(item.expiration) + ' (' + addRestDay(item.expiration) + ')'}}
              </div>
              <div v-if="item.expiration == null">
                &nbsp;
              </div>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-dialog v-model="updatePhoneDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs" @click="getPhone(item.name)">
                        <v-list-item-title>Modifier</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Modifier un numéro de téléphone</span>
                      <v-text-field label="Phone" v-model="updatePhoneValue" :value="item.name" class="item-input" required
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="updatePasswordPhone"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="updatePhoneDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="updatePhoneValue == item.name ? true:false" small outlined color="blue darken-1" text @click="updatePhone(item.name,updatePhoneValue)">Modifier</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="deletePhoneDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs">
                        <v-list-item-title>Supprimer</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Supprimer un numéro de téléphone</span>
                      <v-text-field disabled label="Email" :value="item.name" class="item-input" required type="email"
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="deletePasswordPhone"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="deletePhoneDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="deletePasswordPhone == '' ? true:false" small outlined color="blue darken-1" text @click="deletePhone(item.name)">Supprimer</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-list>
              </v-menu>
            </td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
    <div class="d-flex flex-column mb-10">
      <div class="d-flex justify-space-between my-4">
        <span class="text-subtitle-2">Authentifications fédérées</span>
      </div>
      <v-simple-table class="pl-10">
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-left" style="width: 480px">Authentification fédérés</th>
            <th class="text-left">Fournisseur</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in auth" :key="item.account">
            <td>{{ item.account }}</td>
            <td class="d-flex justify-space-between align-center">
              <div>
                {{item.provider}}
              </div>
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-dialog v-model="updateEmailDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs" @click="getEmail(item.account)">
                        <v-list-item-title>Modifier</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Modifier une adresse mail</span>
                      <v-text-field label="Email" v-model="updateEmailValue" :value="item.account" class="item-input" required type="email"
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="updatePasswordEmail"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="updateEmailDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="updateEmailValue == item.account ? true:false" small outlined color="blue darken-1" text @click="updateEmail(item.account,updateEmailValue)">Modifier</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="deleteEmailDialog" persistent max-width="400px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item v-on="on" v-bind="attrs">
                        <v-list-item-title>Supprimer</v-list-item-title>
                      </v-list-item>
                    </template>
                    <v-card class="pa-4">
                      <span class="text-subtitle-2">Supprimer une adresse mail</span>
                      <v-text-field disabled label="Email" class="item-input" required type="email"
                                    hint="Entrer une adresse mail liées a aucun compte steam"></v-text-field>
                      <v-text-field
                        class="item-input"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        v-model="deletePasswordEmail"
                        :rules="passwordRules"
                        name="input-10-2"
                        label="Mot de passe actuel"
                        @click:append="show = !show"
                      ></v-text-field>
                      <span style="color: #6F7DC8" class="text-subtitle-2">
                        <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                        <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                      </span>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn height="32px" small outlined color="blue darken-1" text @click="deleteEmailDialog = false">Annuler</v-btn>
                        <v-btn height="32px" :disabled="deletePasswordEmail == '' ? true:false" small outlined color="blue darken-1" text @click="deleteEmail(item.name)">Supprimer</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-list>
              </v-menu>
            </td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>
<script>
import { differenceInDays, differenceInMonths, format } from 'date-fns'
import countriesFile from './data/countries.json'
export default {
  name: 'BaseInfo',
  data: () => ({
    username: 'fk.dexter',
    usernameInit: 'fk.dexter',
    switch1: true,
    show: false,
    dialog1: false,
    dialog2: false,
    dialog3: false,
    deleteEmailDialog: false,
    updateEmailDialog: false,
    updateEmailValue: '',
    deletePhoneDialog: false,
    updatePhoneDialog: false,
    updatePhoneValue: '',
    password: '',
    password1: '',
    password2: '',
    deletePasswordEmail: '',
    updatePasswordEmail: '',
    deletePasswordPhone: '',
    updatePasswordPhone: '',
    passwordRules: [
      v => !!v || 'E-mail is required'
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ],
    mails: [
      {
        name: 'freddykamgang.gmail.com',
        perime: false,
        expiration: '2020/12/06'
      },
      {
        name: 'freddykamgang.chickdev.space',
        perime: false,
        expiration: null
      }
    ],
    phones: [
      {
        name: '+237 683205022',
        perime: false,
        expiration: '2020/07/30'
      },
      {
        name: '+237 673415829',
        perime: true,
        expiration: '2020/04/07'
      }
    ],
    auth: [
      {
        account: 'freddykamgang.gmail.com',
        provider: 'Google Apps'
      }
    ],
    country: 'Cameroun(+237)',
    countries: [],
    newPhone: '6 58451247'
  }),
  methods: {
    addEmail () {
      let mail = {
        name: this.email,
        perime: false,
        expiration: null
      }
      this.mails.push(mail)
      this.dialog1 = false
    },
    deleteEmail (item) {
      for (let i in this.mails) {
        if (this.mails[i].name === item) {
          this.mails.splice(i, 1)
        }
      }
      for (let y in this.auth) {
        if (this.auth[y].account === item) {
          this.auth.splice(y, 1)
        }
      }
    },
    updateEmail (item, newValue) {
      for (let i in this.mails) {
        if (this.mails[i].name === item) {
          this.mails[i].name = newValue
        }
      }
      for (let y in this.auth) {
        if (this.auth[y].account === item) {
          this.auth[y].account = newValue
        }
      }
      this.updatePasswordEmail = ''
      this.updateEmailDialog = false
    },
    getEmail (item) {
      this.updateEmailValue = item
    },
    addPhone () {
      let phone = {
        name: this.newPhone,
        perime: false,
        expiration: null
      }
      this.phones.push(phone)
      this.newPhone = ''
      this.dialog2 = false
    },
    deletePhone (item) {
      for (let i in this.phones) {
        if (this.phones[i].name === item) {
          this.phones.splice(i, 1)
        }
      }
    },
    updatePhone (item, newValue) {
      for (let i in this.phones) {
        if (this.phones[i].name === item) {
          this.phones[i].name = newValue
        }
      }
      this.updatePhoneValue = ''
      this.updatePhoneDialog = false
    },
    getPhone (item) {
      this.updatePhoneValue = item
    },
    addRestDay (item) {
      let date = new Date()
      let expirationDate = new Date(item)
      if (differenceInDays(expirationDate, date) > 31) {
        return `${differenceInMonths(expirationDate, date)} Mois`
      } else if (differenceInDays(expirationDate, date) < 0) {
        return '0 Jours'
      } else {
        return `${differenceInDays(expirationDate, date)} Jours`
      }
    },
    addFormat (item) {
      let date = new Date(item)
      return format(date, 'dd/MM/yyyy')
    },
    getSortOrder (prop) {
      return function (a, b) {
        if (a[prop] > b[prop]) {
          return 1
        } else if (a[prop] < b[prop]) {
          return -1
        }
        return 0
      }
    },
    getCountries () {
      let countries = []
      let countriesFormat = []
      for (let i in countriesFile) {
        countries.push({name: countriesFile[i].translations.fr, code: countriesFile[i].callingCodes})
      }
      countries = countries.sort(this.getSortOrder('name'))
      for (let i in countries) {
        countriesFormat.push(countries[i].name + '(+' + countries[i].code + ')')
      }
      return countriesFormat
    },
    customFilter (item, queryText) {
      if (item.name !== null) {
        const textOne = item.name.toLowerCase()
        const textTwo = item.code.toLowerCase()
        const searchText = queryText.toLowerCase()
        return textOne.indexOf(searchText) > -1 ||
          textTwo.indexOf(searchText) > -1
      }
    }
  },
  created () {
    this.countries = this.getCountries()
  }
}
</script>
<style lang="scss" scoped>
  .first-col {
    width: 300px !important;
  }
  .second-col{
    width: 180px !important;
  }
  .item-input >>> .v-label{
    font-size: 14px;
    color: rgba(0,0,0,.4)
  }
  .item-input >>> .v-messages{
    text-align: end;
  }
  .item-input >>> .v-text-field__slot input{
    color: rgba(0,0,0,.78) !important;
  }
  .item-input >>> .v-input__slot{
    &:before{
      border-color: rgba(0,0,0,.2) !important;
    }
  }
  .username >>> fieldset{
    border: none !important;
  }
</style>
