<template>
  <div>
    <div class="ma-6 d-flex flex-column">
      <div class="d-flex flex-column justify-space-between mt-4">
        <div class="d-flex flex-column">
          <span class="text-subtitle-2 mb-4">Mot de passe</span>
          <span class="font-weight-regular" style="font-size: 14px">Mettez a jour votre compte. Définissez toujours un mot de passe
        fort qui empêche tous accès non autorisé à votre compte</span>
        </div>
        <div class="ml-12 d-flex flex-column">
          <v-text-field
            :class="{'item-input': password == '' ? true : false}"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            v-model="password"
            name="input-10-2"
            label="Mot de passe actuel"
            @click:append="show1 = !show1"
          ></v-text-field>
          <div class="d-flex">
            <v-text-field
              :class="{'item-input': password == '' ? true : false}"
              class="mr-4"
              :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show2? 'text' : 'password'"
              v-model="password1"
              name="input-10-2"
              label="Nouveau mot de passe"
              @click:append="show2 = !show2"
            ></v-text-field>
            <v-text-field
              :class="{'item-input': password == '' ? true : false}"
              :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show3? 'text' : 'password'"
              v-model="password2"
              name="input-10-2"
              label="Nouveau mot de passe confirmé"
              @click:append="show3 = !show3"
            ></v-text-field>

          </div>
          <v-checkbox color="pink" label="Terminer toutes sessions actives du compte"></v-checkbox>
          <span style="color: #6F7DC8" class="mt-4 text-subtitle-2">
              <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
              <span class="ml-1">Mot de passe oublié?</span>
            </span>
          <div class="d-flex justify-end">
            <v-btn color="primary" height="32px" outlined text :disabled="password1 === '' ? true : false" small class="my-4" style="justify-items: flex-end">Enregistrer</v-btn>
          </div>
        </div>
        <div class="d-flex flex-column mt-12">
          <span class="text-subtitle-2 mb-4">Question de sécutité</span>
          <span class="font-weight-regular" style="font-size: 14px">Ajouter une question de sécurité pour protéger votre compte.
        Si vous oubliez votre mot de passe, nous vous demandons la question secrète pour vérifier votre identité</span>
        </div>
        <br>
        <v-simple-table class="ml-10">
          <template v-slot:default>
            <thead>
            <tr>
              <th class="text-left" style="width: 480px">Question secrète</th>
              <th class="text-left">Réponse</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in secretQuestions" :key="item.question">
              <td>{{item.question}}</td>
              <td class="d-flex justify-space-between align-center pr-0">
                <div>
                  {{item.answer}}
                </div>
                <v-dialog v-model="dialog" persistent max-width="400px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" text v-on="on">
                      <v-icon>edit</v-icon>
                    </v-btn>
                  </template>
                  <v-card class="pa-4">
                    <span class="text-subtitle-2">Ajouter une question secrète</span>
                    <v-autocomplete class="question-item"
                      v-model="question"
                      :items="questions"
                      item-text="name"
                    ></v-autocomplete>
                    <v-text-field label="Reponse" v-model="answer" required></v-text-field>
                    <v-text-field
                      class="item-input"
                      :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="show4? 'text' : 'password'"
                      :rules="passwordRules"
                      v-model="password1"
                      name="input-10-2"
                      label="Mot de passe actuel"
                      @click:append="show4 = !show4"
                    ></v-text-field>
                    <span style="color: #6F7DC8" class="text-subtitle-2">
                      <v-icon color="#6F7DC8">mdi-lock-reset</v-icon>
                    <span class="ml-1 text-subtitle-2">Mot de passe oublié?</span>
                  </span>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn height="32px" small outlined color="blue darken-1" text @click="dialog = false">Annuler</v-btn>
                      <v-btn height="32px" :disabled="password1 === '' ? true : false" small outlined color="blue darken-1" text @click="addQuestion()">Ajouter</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
        <br>
      </div>
    </div>
    <v-expansion-panels accordion flat class="mt-4 elevation-0">
      <v-expansion-panel >
        <v-expansion-panel-header class="expansion" expand-icon="arrow_right">
          <div class="d-flex flex-row" style="font-size: 13px">
            <v-icon class="mr-5">mdi-ip-network</v-icon>
            <div class="d-flex flex-column justify-center">
              <span class="grey--text text--darken-3 font-weight-medium">Géré toutes les adresses IP autorisées</span>
              <span class="mt-2 grey--text text--darken-2">Limiter l'accès à votre compte via des adresses IP uniquement</span>
            </div>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel >
        <v-expansion-panel-header class="expansion" expand-icon="arrow_right">
          <div class="d-flex flex-row" style="font-size: 13px">
            <v-icon class="mr-5">map</v-icon>
            <div class="d-flex flex-column justify-center">
              <span class="grey--text text--darken-3 font-weight-medium">Gérer toutes les restrictions géographiques</span>
              <span class="mt-2 grey--text text--darken-2">Limiter l'accès à votre compte à tout emplacement situé dans la plage spécifié</span>
            </div>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
    </v-expansion-panels>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>
<script>
export default {
  name: 'BaseInfo',
  data: () => ({
    show1: false,
    show2: false,
    show3: false,
    show4: false,
    dialog: false,
    password: '',
    password1: '',
    password2: '',
    passwordRules: [
      v => !!v || 'Password is required'
    ],
    question: 'Comment s\'appelait votre meilleur ami lorsque vous étiez adolescent ?',
    questions: [
      'Comment s\'appelait votre meilleur ami lorsque vous étiez adolescent ?',
      'Comment s\'appelait votre premier animal de compagnie ?',
      'Quel est le premier plat que vous avez appris à cuisiner ?',
      'Quel est le premier film que vous avez vu au cinéma ?',
      'Où êtes-vous allé la première fois que vous avez pris l\'avion ?',
      'Comment s`\'appelait votre instituteur préféré à l\'école primaire ?',
      'Quel serait selon vous le métier idéal ?',
      'Quel est le livre pour enfants que vous préférez ?',
      'Quel était le modèle de votre premier véhicule ?',
      'Quel était votre surnom lorsque vous étiez enfant ?',
      'Quel était votre personnage ou acteur de cinéma préféré lorsque vous étiez étudiant ?',
      'Quel était votre chanteur ou groupe préféré lorsque vous étiez étudiant ?',
      'Dans quelle ville vos parents se sont-ils rencontrés ?',
      'Comment s\'appelait votre premier patron ?',
      'Quel est le nom de la rue où vous avez grandi ?',
      'Quel est le nom de la première plage où vous vous êtes baigné ?',
      'Quel est le premier album que vous avez acheté ?',
      'Quel est le nom de votre équipe de sport préférée ?',
      'Quel était le métier de votre grand-père ?'
    ],
    secretQuestions: [
      {
        question: 'Quelle est le nom de votre équipe de sport préféré?',
        answer: 'FC Barcelone'
      }
    ],
    answer: ''
  }),
  methods: {
    addQuestion () {
      let question = {
        question: this.question,
        answer: this.answer
      }
      this.secretQuestions.push(question)
      this.dialog = false
    }
  }
}
</script>
<style lang="scss" scoped>
  .expansion{
    border-top: rgba(0,0,0,.1) thin solid;
  }
  .item-input >>> .v-input__icon--append .v-icon {
    color: rgba(0,0,0,.2) !important;
  }
  .item-input >>> .v-text-field__slot input{
    color: rgba(0,0,0,.2) !important;
  }
  .question-item >>> .v-select__slot input{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item-input >>> .v-input__slot{
    &:before{
      border-color: rgba(0,0,0,.2) !important;
    }
  }
  .item-input >>> .v-label{
    font-size: 14px;
    color: rgba(0,0,0,.4);
  }
</style>
