<template>
  <div class="d-flex flex-row ma-2 align-center">
    <v-avatar tile size="35px">
      <img
        :src="dataitem.image">
    </v-avatar>
    <div class="d-flex flex-column ml-2">
      <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">{{dataitem.name}}</span>
      <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">{{dataitem.link}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Entreprise',
  props: ['dataitem'],
  data: () => {
    return ({
    })
  }
}
</script>
