<template>
  <div class="d-flex flex-column ml-2">
    <span class="font-weight-medium grey--text text--darken-3" v-if="dataitem.name !== null" style="font-size: 14px">{{dataitem.name}}</span>
    <span class="font-weight-medium grey--text text--darken-3" v-if="dataitem.name === null" style="font-size: 14px">Inconnu</span>
    <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">{{dataitem.title}}</span>
  </div>
</template>

<script>
export default {
  name: 'Poste',
  props: ['dataitem'],
  data: () => {
    return ({})
  }
}
</script>
