<template>
  <div class="d-flex flex-column ml-2">
          <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">
            <v-icon small color="red" v-if="dataitem.type === 'A Confirmer'">mdi-account-off</v-icon>
            <v-icon small color="orange darken-2" v-if="dataitem.type === 'En Attente'">mdi-account-off</v-icon>
            <v-icon small color="green" v-if="dataitem.type === 'Confirmé'">verified_user</v-icon>
            {{dataitem.type}}</span>
    <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">Dépuis le {{dataitem.date}}</span>
  </div>
</template>

<script>
export default {
  name: 'Status',
  props: ['dataitem'],
  data: () => {
    return ({})
  }
}
</script>
