<template>
  <div class="d-flex flex-row align-center justify-space-between">
    <div class="d-flex align-end">
      <v-select
        :items="items"
        v-model="filter"
        class="filter"
        style="max-width: 170px"
        hide-details
      ></v-select>
      <div class="mx-3 d-flex align-center my-4" style="font-size: 14px">
        <span class="grey--text text--lighten-2">Total: </span>
        <span class="grey--text text--darken-2 ml-2">{{count}}</span>
      </div>
    </div>
    <div class="d-flex align-center justify-end">
      <v-text-field class="search" solo dense @click:prepend-inner="searchActive = !searchActive" :style="{maxWidth: searchActive === false ? '36px' : '100%'}" hide-details="auto" v-model="search" prepend-inner-icon="search" @keydown="changeSearch()">
      </v-text-field>
      <v-menu bottom right offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" solo class="ml-2" max-width="36px" style="min-width: auto">
            <v-icon color="grey darken-2">more_horiz</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>Supprimer</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

  </div>
</template>
<script>
export default {
  name: 'FilterHeader',
  props: ['count'],
  data: () => {
    return ({
      items: ['Toutes', 'Employeur', 'Propriétaire'],
      filter: 'Toutes',
      tri: 'nom',
      tris: ['nom', 'poste', 'status'],
      search: '',
      searchActive: false
    })
  },
  components: {
  },
  methods: {
    changeSearch () {
      this.$store.commit('searchCompany', this.search)
      console.log(this.search)
    }
  },
  computed: {
  },
  created () {
  },
  mounted () {
  }
}
</script>
<style lang="scss" scoped>
  .filter >>> .v-input__slot:before{
    border-color: transparent !important;
  }
  .tri >>> .v-input__slot:before{
    border-color: transparent !important;
  }
  .filter >>> .v-select__selection--comma{
    font-size: 24px;
    height: 26px;
    color: #3F51B5;
  }
  .tri >>> .v-select__selection--comma{
    font-size: 12px;
  }
  .search >>> .v-input__slot{
    padding: 0 6px !important;
    background-color: #f5f5f5 !important;
    &:hover{
      background-color: #E5E5E5 !important;
      cursor: pointer;
    }
  }
  .search{
    transition: max-width 1s;
  }
</style>
