<template>
  <div class="d-flex flex-row align-center justify-space-between py-6">
    <div>
      <v-btn icon class="mx-2">
        <v-icon @click="$router.go(-1)">arrow_back</v-icon>
      </v-btn>
      <span class="text-subtitle-2">Infos du contact</span>
    </div>
    <div class="d-flex align-center justify-end">
      <v-btn icon class="mx-2">
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn icon class="mx-2">
        <v-icon>star_outline</v-icon>
      </v-btn>
      <v-menu bottom right offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon color="white" v-bind="attrs" v-on="on">
            <v-icon color="grey darken-2">more_horiz</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>Supprimer</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

  </div>
</template>
<script>
export default {
  name: 'detailHeader',
  props: ['count'],
  data: () => {
    return ({
      items: ['Toutes', 'Page blanche', 'Page jaune'],
      filter: 'Toutes',
      tri: 'nom',
      tris: ['nom', 'poste', 'status'],
      search: '',
      searchActive: false
    })
  },
  components: {
  },
  methods: {
    changeSearch () {
      this.$store.commit('searchCompany', this.search)
      console.log(this.search)
    }
  },
  computed: {
  },
  created () {
  },
  mounted () {
  }
}
</script>
<style lang="scss" scoped>
.filter >>> .v-input__slot:before{
  border-color: transparent !important;
}
.tri >>> .v-input__slot:before{
  border-color: transparent !important;
}
.filter >>> .v-select__selection--comma{
  font-size: 24px;
  height: 26px;
  color: #3F51B5;
}
.tri >>> .v-select__selection--comma{
  font-size: 12px;
}
.search >>> .v-input__slot{
  padding: 0 6px !important;
  &:hover{
    cursor: pointer;
  }
}
.search{
  transition: max-width 1s;
}
</style>
