<template>
  <div class="d-flex justify-space-between align-center">
    <div class="d-flex flex-column">
      <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">
        {{dataitem[0].city}} - {{dataitem[0].country}}
      </span>
        <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">
        {{dataitem[0].quater}} - {{dataitem[0].rue}}
      </span>
    </div>
    <v-menu
      transition="slide-y-transition"
      bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-bind="attrs" v-on="on" v-if="dataitem.length > 1">mdi-chevron-down</v-icon>
      </template>
      <v-list>
        <v-list-item class="py-2"
          v-for="i in dataitem.length - 1" :key="i">
          <div  class="d-flex flex-column">
            <span class="font-weight-medium" style="font-size: 14px">
        {{dataitem[i].city}} - {{dataitem[i].country}}
      </span>
            <span class="font-weight-medium" style="font-size: 14px">
        {{dataitem[i].quater}} - {{dataitem[i].rue}}
      </span>
          </div>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'Adresse',
  props: ['dataitem'],
  data: () => {
    return ({})
  }
}
</script>
