<template>
  <div class="d-flex flex-row ma-2 align-center">
    <v-avatar size="40px">
      <img
        :src="dataitem.image">
    </v-avatar>
    <div class="d-flex flex-column ml-2">
      <span href="" @click="goDetail" class="font-weight-medium grey--text text--darken-3 click" style="font-size: 14px">{{dataitem.name}}</span>
      <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">{{dataitem.job}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Base',
  props: ['dataitem'],
  data: () => {
    return ({
    })
  },
  methods: {
    goDetail () {
      this.$store.commit('goDetail', true)
      this.$store.commit('goDetail1', true)
      this.$router.push('list/detail')
    }
  }
}
</script>
<style scoped>
 .click:hover {
   cursor: pointer;
 }
</style>
