<template>
  <div class="d-flex flex-column ml-2">
    <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">{{dataitem.date}}</span>
    <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">{{dataitem.owner}}</span>
  </div>
</template>

<script>
export default {
  name: 'Date',
  props: ['dataitem'],
  data: () => {
    return ({})
  }
}
</script>
