<template>
  <div class="d-flex">
    <v-chip color="yellow darken-2" text-color="yellow darken-2" v-if="dataitem.type == 'page blanche'" small label outlined>
      {{dataitem.type}}
    </v-chip>
    <v-chip color="yellow  darken-2" text-color="white" v-else small label>
      {{dataitem.type}}
    </v-chip>
    <v-chip small label v-if="index < 1" class="mx-1" v-for="(item, index) in dataitem.tag" :key="index">
      {{item}}
    </v-chip>
    <v-menu
      transition="slide-y-transition"
      bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-chip small label v-if="dataitem.tag.length > 1" v-bind="attrs" v-on="on">
          ...
        </v-chip>
      </template>
      <v-list>
        <v-list-item
          v-if="index >= 1" v-for="(item, index) in dataitem.tag" :key="index">
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'Tag',
  props: ['dataitem'],
  data: () => {
    return ({})
  }
}
</script>
