<template>
  <v-card class="user-contain">
    <v-card>
      <v-toolbar
        color="#EBEDF7"
        flat>
          <v-btn icon @click="$router.go(-1)">
            <v-icon>arrow_back</v-icon>
          </v-btn>

          <v-toolbar-title>Profil utilisateur</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
      </v-toolbar>
      <div style="background-color: #EBEDF7" class="pa-5 d-flex justify-center flex-column text-center">
        <v-hover v-slot:default="{ hover }">
          <div class="align-self-center avatar">
            <v-img cover :src="previewUrl" v-if="previewUrl" style="width:100%; height:100%"></v-img>
            <v-expand-transition>
              <output v-if="hover" style="background-color: rgba(255,254,254,0.8); height: 30%"
                      class="d-flex justify-center transition-fast-in-fast-out text--lighten-3 v-card--reveal text-h5 white--text overlay justify-center">

                <div class="upload-btn-wrapper">
                    <v-icon color="grey darken-4" class="my-auto">
                      photo_camera
                    </v-icon>
                  <input type="file" name="myfile" accept="image/*" @change="onFileChange" />
                </div>
              </output>
            </v-expand-transition>
          </div>
        </v-hover>
        <span class="mt-4 text-subtitle-1 font-weight-medium">Freddy Kamgang</span>
        <span class="mb-4 font-weight-light font-italic text-caption grey--text text--darken-1">Utilisteur N°20124012</span>
      </div>
      <v-tabs background-color="#EBEDF7" height="50px"
              v-model="currentItem"
              grow
              slider-color="pink"
              :class="{tabScroll: getScroll >= 280 ? true : false}"
      >
        <v-tab
          v-for="(item, index) in items"
          :key="index"
          :to="item.link"
          grow
        >
          {{ item.name }}
        </v-tab>

        <v-menu
          v-if="more.length"
          bottom
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              class="align-self-center mr-4"
              v-bind="attrs"
              v-on="on"
            >
              plus
              <v-icon right>arrow_drop_down</v-icon>
            </v-btn>
          </template>

          <v-list class="grey lighten-3">
            <v-list-item
              v-for="(item,index) in more"
              :key="index"
              @click="addItem(item.name)"
            >
              {{ item.name }}
            </v-list-item>
          </v-list>
        </v-menu>
      </v-tabs>
      <router-view></router-view>

    </v-card>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    currentItem: 'tab-Web',
    items: [],
    more: [],
    previewUrl: 'https://cdn.vuetifyjs.com/images/john.jpg'
  }),

  methods: {
    addItem (item) {
      const removed = this.items.splice(0, 1)
      this.items.push(
        ...this.more.splice(this.more.indexOf(item), 1)
      )
      this.more.push(...removed)
      this.$nextTick(() => { this.currentItem = 'tab-' + item })
    },
    onFileChange: function (event) {
      const file = event.target.files[0]
      if (!file) {
        return false
      }
      if (!file.type.match('image.*')) {
        return false
      }
      const reader = new FileReader()
      const that = this

      reader.onload = function (e) {
        that.previewUrl = e.target.result
      }

      reader.readAsDataURL(file)
    }
  },
  computed: {
    getTabItems () {
      let list = [
        {
          name: 'Infos de base',
          link: '/parameter/userprofile/base'
        },
        {
          name: 'Identifiants',
          link: '/parameter/userprofile/identifiant'
        },
        {
          name: 'securite',
          link: '/parameter/userprofile/securite'
        },
        {
          name: 'entreprises',
          link: '/parameter/userprofile/entreprise'
        },
        {
          name: 'preferences',
          link: '/parameter/userprofile/base'
        }
      ]
      let newItems = []
      if (screen.availWidth > 800) {
        return list
      } else if ((screen.availWidth > 600) && (screen.availWidth <= 800)) {
        for (var k = 0; k <= 2; k++) {
          newItems.push(list[k])
        }
        return newItems
      } else if ((screen.availWidth > 500) && (screen.availWidth <= 600)) {
        for (var j = 0; j <= 2; j++) {
          newItems.push(list[j])
        }
        return newItems
      } else if ((screen.availWidth > 400) && (screen.availWidth <= 500)) {
        for (var i = 0; i <= 1; i++) {
          newItems.push(list[i])
        }
        return newItems
      } else if (screen.availWidth < 400) {
        newItems.push(list[0])
        return newItems
      }
    },
    getTabMore () {
      let items = [
        {
          name: 'Infos de base',
          link: '/parameter/userprofile/base'
        },
        {
          name: 'Identifiants',
          link: '/parameter/userprofile/identifiant'
        },
        {
          name: 'securite',
          link: '/parameter/userprofile/securite'
        },
        {
          name: 'entreprises',
          link: '/parameter/userprofile/base'
        },
        {
          name: 'preferences',
          link: '/parameter/userprofile/base'
        }
      ]
      if (screen.availWidth > 800) {
        return []
      } else if ((screen.availWidth > 600) && (screen.availWidth <= 800)) {
        for (var j = 0; j <= 2; j++) {
          items.shift()
        }
        return items
      } else if ((screen.availWidth > 500) && (screen.availWidth <= 600)) {
        for (var k = 0; k <= 2; k++) {
          items.shift()
        }
        return items
      } else if ((screen.availWidth > 400) && (screen.availWidth <= 500)) {
        for (var i = 0; i <= 1; i++) {
          items.shift()
        }
        return items
      } else if (screen.availWidth <= 400) {
        items.shift()
        return items
      }
    },
    getScroll () {
      let scroll = this.$store.state.scroll
      return scroll
    }
  },
  mounted () {
    this.items = this.getTabItems
    this.more = this.getTabMore
    window.onresize = () => {
      let list = [
        {
          name: 'Infos de base',
          link: '/parameter/userprofile/base'
        },
        {
          name: 'Identifiants',
          link: '/parameter/userprofile/Identifiant'
        },
        {
          name: 'securite',
          link: '/parameter/userprofile/securite'
        },
        {
          name: 'entreprises',
          link: '/parameter/userprofile/entreprise'
        },
        {
          name: 'preferences',
          link: '/parameter/userprofile/base'
        }
      ]
      this.items = []
      this.more = [
        {
          name: 'Infos de base',
          link: '/parameter/userprofile/base'
        },
        {
          name: 'Identifiants',
          link: '/parameter/userprofile/Identifiant'
        },
        {
          name: 'securite',
          link: '/parameter/userprofile/securite'
        },
        {
          name: 'entreprises',
          link: '/parameter/userprofile/entreprise'
        },
        {
          name: 'preferences',
          link: '/parameter/userprofile/base'
        }
      ]
      if (screen.availWidth > 800) {
        this.items = list
        this.more = []
      } else if ((screen.availWidth > 600) && (screen.availWidth <= 800)) {
        for (var j = 0; j <= 2; j++) {
          this.items.push(list[j])
          this.more.shift()
        }
        console.log(this.items)
      } else if ((screen.availWidth > 500) && (screen.availWidth <= 600)) {
        for (var k = 0; k <= 2; k++) {
          this.items.push(list[k])
          this.more.shift()
        }
      } else if ((screen.availWidth > 400) && (screen.availWidth <= 500)) {
        for (var i = 0; i <= 1; i++) {
          this.items.push(list[i])
          this.more.shift()
        }
      } else if (screen.availWidth <= 400) {
        this.items.push(list[0])
        this.more.shift()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .avatar{
    width:100px;
    height:100px;
    position:relative;
    border:solid #3F51B5;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
    height:40%;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .user-contain{
    border-radius: 0;
  }
  .tabScroll >>> .v-tabs-bar{
    position: fixed !important;
    z-index: 5;
  }
  @media (min-width: 769px) and (max-width: 2560px) {
    .user-contain{
      width: 800px;
      margin: 0 auto;
    }
    .tabScroll >>> .v-tabs-bar{
      top: 64px !important;
      width: 800px;
    }
  }
  @media (min-width: 600px) and (max-width: 768px) {
    .user-contain{
      width: 100%;
      margin: 0 80px 0 80px;
    }
    .tabScroll >>> .v-tabs-bar{
      top: 56px !important;
      left: 80px;
      right: 80px;
    }
  }
  @media (max-width: 600px){
    .user-contain{
      width: 100%;
    }
    .tabScroll >>> .v-tabs-bar{
      top: 56px !important;
      width: 100%;
    }
  }

</style>
