<template>
  <div>
    <appbar />
    <div class="d-flex flex-row" style="height: 100%">
      <div class="d-flex justify-center contain" @scroll="getScroll()">
        <transition enter-active-class="animated zoomIn fast"
                    leave-active-class="" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import appbar from '@/util/components/appbar.component.vue'
export default {
  name: 'Parameter',
  components: {
    appbar
  },
  data: () => ({
  }),
  methods: {
    getScroll () {
      let a = document.getElementsByClassName('contain')
      this.$store.commit('onscroll', a[0].scrollTop)
    }
  }
}
</script>

<style lang="scss" scoped>
  .fast {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
  }
  .contain{
    overflow-y: auto;
    position: absolute;
    max-height: 100%;
    width: 100%;
  }
</style>
