<template>
  <v-container>
    <div>
      <h4 class="font-weight-regular;"><span>OU</span></h4>
      <div class="font-weight-regular body-2" style="text-align:center; margin:8px;">
        Se connecter avec son compte</div>
      <div class="social-media-bloc">
        <img class="social-img" src="~@/assets/google-plus.png">
        <img class="social-img" src="~@/assets/facebook.png">
        <img class="social-img" src="~@/assets/twitter.png">
        <img class="social-img" src="~@/assets/github.png">
        <img class="social-img" src="~@/assets/windows-os.png">
        <img class="social-img" src="~@/assets/linkedin.png">
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'SocialMedia',
  data: () => ({
  })
}
</script>

<style lang="scss" scoped>
.container{
  padding: 0px !important;
}

h4{
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 5px;
    width: 300px;
    margin: auto;
}

h4:before,h4:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #D9D9D9;
  margin: auto;
}
h4 span {
  background:#fff;
  padding:0 10px;
}
.social-img{
  width: 20px;
  height: 20px;
  margin: 10px 10px;
}

.social-media-bloc{
  display: flex;
  justify-content: center;
}
</style>
