<template>
  <div style="transition: width 300ms;" :style="{width: '100%',padding: '0 10px 0 60px'}">
    <v-card style="background-color: #F0F0F0;" class="rounded-t">
      <div class="px-4">
        <detail-header></detail-header>
      </div>
      <div style="width: 100%; height: 100%; background-color: white" class="pa-4">
        <div class="pa-4 d-flex flex-column justify-center">
          <div class="d-flex flex-row ma-2 align-center">
            <v-avatar size="60px">
              <img
                src="https://randomuser.me/api/portraits/women/30.jpg">
            </v-avatar>
            <div class="d-flex flex-column ml-4">
              <span class="text-h6 font-weight-medium grey--text text--darken-3" style="font-size: 14px">Janet Perkins</span>
              <span class="font-weight-light grey--text text--darken-2" style="font-size: 14px">janetperkins@chickdev.space</span>
            </div>
          </div>
          <div class="d-flex flex-row ma-2 align-center">
            <v-icon class="mx-4">mdi-tooltip-account</v-icon>
            <div class="d-flex flex-column ml-4">
              <span class="grey--text text--darken-3" style="font-size: 14px">12034 Douala - Cameroun</span>
              <span class="grey--text text--darken-3" style="font-size: 14px">Cité des palmiers - Rue 3021, derrière le lycée</span>
            </div>
          </div>
          <div class="d-flex flex-row ma-2 align-center">
            <v-icon class="mx-4">local_phone</v-icon>
            <div class="d-flex flex-column ml-4">
              <span class="grey--text text--darken-3" style="font-size: 14px">+237 690552927(Privé) | +237 695241547(Professionnel)</span>
            </div>
          </div>
          <div class="d-flex flex-row ma-2 mt-4 align-center">
            <v-icon class="mx-4">contacts</v-icon>
            <div class="d-flex flex-column ml-4">
              <span class="grey--text text--darken-3" style="font-size: 14px">
                <v-chip small>Fournisseur</v-chip>
                <v-chip small>Client</v-chip>
                <v-chip small>Collègue</v-chip>
                <v-chip small>...</v-chip>
              </span>
            </div>
          </div>
          <div class="d-flex flex-row ma-2 mt-3 align-center">
            <v-icon class="mx-4">mdi-wallet</v-icon>
            <div class="d-flex flex-row ml-4">
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-1 font-weight-bold green--text text--darken-3">123 684 FCFA</span>
                <span class="font-weight-medium" style="font-size: 12px">De solde dans le compte</span>
              </div>
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-1 font-weight-bold red--text text--darken-3">8 754 430 FCFA</span>
                <span class="font-weight-medium" style="font-size: 12px">D'achats réalisés (Débits)</span>
              </div>
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-1 font-weight-bold blue--text text--darken-3">789 675 FCFA</span>
                <span class="font-weight-medium" style="font-size: 12px">De paiements perçus (Crédits)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-card>
    <v-card style="background-color: #F0F0F0; height: 100%" class="rounded-0 mt-4">
      <v-tabs
        v-model="currentItem"
        fixed-tabs
        slider-color="pink"
        background-color="#F0F0F0"
        color="grey darken-4"
      >
        <v-tab
          v-for="item in items"
          :key="item"
          :href="'#tab-' + item"
        >
          {{ item }}
        </v-tab>

        <v-menu
          v-if="more.length"
          bottom
          left
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              class="align-self-center mr-4"
              v-bind="attrs"
              v-on="on"
            >
              plus
              <v-icon right>mdi-menu-down</v-icon>
            </v-btn>
          </template>

          <v-list class="grey lighten-3">
            <v-list-item
              v-for="item in more"
              :key="item"
              @click="addItem(item)"
            >
              {{ item }}
            </v-list-item>
          </v-list>
        </v-menu>
      </v-tabs>
      <v-tabs-items v-model="currentItem">
      <v-tab-item class="pa-6" value="tab-Liaison">
        <v-card flat style="height: 100%">
          <div class="d-flex flex-row align-center ml-4 mb-10">
            <v-icon class="mx-4">business</v-icon>
            <div class="d-flex flex-row ml-4 mb-4">
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-2 font-weight-bold grey--text text--darken-3">Attachée commercial</span>
                <div class="d-flex flex-column">
                  <span class="font-weight-regular" style="font-size: 13px">A ChickDev Sarl</span>
                  <span class="font-weight-regular" style="font-size: 13px">Douala, Cameroun</span>
                </div>
              </div>
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-2 font-weight-bold grey--text text--darken-3">Directrice générale</span>
                <div class="d-flex flex-column">
                  <span class="font-weight-regular" style="font-size: 13px">A Global Industries</span>
                  <span class="font-weight-regular" style="font-size: 13px">Yaoundé, Cameroun</span>
                </div>
              </div>
              <div class="d-flex flex-column mr-10">
                <span class="text-subtitle-2 font-weight-bold grey--text text--darken-3">Réprésentant commercial</span>
                <div class="d-flex flex-column">
                  <span class="font-weight-regular" style="font-size: 13px">A ChickDev Sarl</span>
                  <span class="font-weight-regular" style="font-size: 13px">Douala, Cameroun</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column ml-4 mb-10">
            <div class="d-flex flex-row align-center">
              <v-icon class="mx-4">mdi-account-group-outline</v-icon>
              <span class="text-subtitle-2 font-weight-bold grey--text text--darken-3 ml-4">Personnes à contacter</span>
            </div>
            <v-simple-table class="ml-16 mt-4">
              <template v-slot:default>
                <tbody>
                <tr>
                  <td>
                    <div class="d-flex flex-row align-center my-3">
                      <v-avatar size="40px">
                        <img
                          src="https://randomuser.me/api/portraits/men/46.jpg">
                      </v-avatar>
                      <div class="d-flex flex-column ml-4">
                        <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">Alex Nelson</span>
                        <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">a.nelson@hrcorp.com</span>
                      </div>
                    </div>
                  </td>
                  <td>Her tutor</td>
                  <td> </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex flex-row align-center my-3">
                      <v-avatar size="40px">
                        <img
                          src="https://randomuser.me/api/portraits/women/45.jpg">
                      </v-avatar>
                      <div class="d-flex flex-column ml-4">
                        <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">Alex Nelson</span>
                        <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">a.nelson@hrcorp.com</span>
                      </div>
                    </div>
                  </td>
                  <td>Best friend</td>
                  <td>
                    Contact principal
                    <v-icon small color="pink" class="ml-3">mdi-tag-heart</v-icon>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
          <div class="d-flex flex-column ml-4 mb-10">
            <div class="d-flex flex-row align-center">
              <v-icon class="mx-4">mdi-account-group-outline</v-icon>
              <span class="text-subtitle-2 font-weight-bold grey--text text--darken-3 ml-4">Employé de liaison</span>
            </div>
            <v-simple-table class="ml-16 mt-4">
              <template v-slot:default>
                <tbody>
                <tr>
                  <td>
                    <div class="d-flex flex-row align-center my-3">
                      <v-avatar size="40px">
                        <img
                          src="https://randomuser.me/api/portraits/men/46.jpg">
                      </v-avatar>
                      <div class="d-flex flex-column ml-4">
                        <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">Alex Nelson</span>
                        <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">a.nelson@hrcorp.com</span>
                      </div>
                    </div>
                  </td>
                  <td>Her tutor</td>
                  <td> </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex flex-row align-center my-3">
                      <v-avatar size="40px">
                        <img
                          src="https://randomuser.me/api/portraits/women/45.jpg">
                      </v-avatar>
                      <div class="d-flex flex-column ml-4">
                        <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">Alex Nelson</span>
                        <span class="font-weight-medium grey--text text--darken-2" style="font-size: 12px">a.nelson@hrcorp.com</span>
                      </div>
                    </div>
                  </td>
                  <td>Best friend</td>
                  <td>
                    Contact principal
                    <v-icon small color="pink" class="ml-3">mdi-tag-heart</v-icon>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </div>
        </v-card>
      </v-tab-item>
      </v-tabs-items>
    </v-card>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>
<script>
import detailHeader from './component/detailHeader'
export default {
  name: 'ContactDetail',
  data: () => ({
    currentItem: 'tab-Web',
    items: [
      'Liaison', 'Adresses', 'Identification', 'Transactions'
    ],
    more: [
      'News', 'Maps', 'Books', 'Flights', 'Apps'
    ],
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
  }),

  methods: {
    addItem (item) {
      const removed = this.items.splice(0, 1)
      this.items.push(
        ...this.more.splice(this.more.indexOf(item), 1)
      )
      this.more.push(...removed)
      this.$nextTick(() => { this.currentItem = 'tab-' + item })
    }
  },
  components: {
    detailHeader
  }
}
</script>
