<template>
  <div>
    <span class="display-1 text-h5 font-weight-thin grey--text text--darken-4">Se connecter</span><br>
    <span class="subtitle-3 font-weight-thin grey--text text--darken-1">Vos processus entreprises en un seul compte</span>
    <v-text-field v-model="username" :rules="usernameRules" label="Identifiant" append-icon="help_outline"></v-text-field>
    <v-btn  @click="$router.push('login/password') , submit()" class="white--text" color="#4771BA" style="width:100%">Suivant</v-btn>
    <div class="container-bloc-footer mb-3 ">
      <div class="d-flex align-center grey--text text--darken-1" style="font-size: 14px;"><v-switch></v-switch> <span>Se souvenir de moi</span></div>
      <div class="help font-weight-medium" v-bind:style="{ display: helpVisibility1}"> Besoin d'aide <v-icon color="#4771BA">live_help</v-icon></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  components: {
  },
  data: () => ({
    switch2: false,
    usernameRules: [
      v => !!v || 'Username is required'
    ],
    username: ''
  }),
  beforeMount () {
    setTimeout(() => this.$store.commit('onload', false), 1000)
  },
  methods: {
    submit () {
      this.$store.commit('onload', true)
      console.log(this.$store.state.isloading)
    }
  },
  computed: {
    helpVisibility1 () {
      if (screen.availWidth <= 320) {
        return 'none'
      } else {
        return 'block'
      }
    },
    helpVisibility2 () {
      if (screen.availWidth > 320) {
        return 'none'
      } else {
        return 'block'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  v-app{
    background-color: transparent;
  }

  .v-label{
    font-size: 14px !important;
  }
  .help{
    margin-top: 22px;
    font-size: 14px;
    color: #4771BA;
  }
  .container-bloc-footer{
    display: flex;
    justify-content: space-between;
  }
  .v-messages{
    display: none;
  }
</style>
