<template>
  <div>
    <span class="display-1 text-h5 font-weight-thin grey--text text--darken-4">Bienvenue</span><br>
    <v-row class="mx-1 my-4 d-flex align-center">
      <div>
        <v-avatar class="mr-2" size="36">
          <img
            src="https://cdn.vuetifyjs.com/images/john.jpg"
            alt="Freddy Kamgang"
          >
        </v-avatar>
        <span>Freddy Kamgang</span>
      </div>
      <v-spacer></v-spacer>
      <div class="help align-self-center">Ce n'est vous?</div>
    </v-row>
    <v-text-field
      label="Password"
      :append-icon="show ? 'visibility' : 'visibility_off'"
      :rules="[rules.required]"
      type="password"
      name="input-10-2"
      hint="At least 8 characters"
      class="input-group--focused"
      @click:append="show = !show"
    ></v-text-field>
    <v-btn class="white--text" color="#4771BA" style="width:100%" @click="signin()">Se connecter</v-btn>
    <div class="container-bloc-footer mb-3">
      <div class="help my-4"> Mot de passe oublié ? </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Login',
  components: {
  },
  data: () => ({
    show: false,
    rules: {
      required: value => !!value || 'Required.',
      emailMatch: () => ('The email and password you entered don\'t match')
    }
  }),
  beforeMount () {
    setTimeout(() => this.$store.commit('onload', false), 1000)
  },
  methods: {
    signin () {
      this.$router.push('/parameter')
    }
  },
  computed: {
    helpVisibility1 () {
      if (screen.availWidth <= 320) {
        return 'none'
      } else {
        return 'block'
      }
    },
    helpVisibility2 () {
      if (screen.availWidth > 320) {
        return 'none'
      } else {
        return 'block'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  v-app{
    background-color: transparent;
  }
  .v-label{
    font-size: 14px !important;
  }
  .help{
    font-size: 14px;
    color: #4771BA;
  }
  .v-messages{
    display: none;
  }
</style>
