<template>
  <div style="padding: 20px 70px; width: 100%" class="d-flex">
    <!--    <div class="background">-->
    <!--      <background></background>-->
    <!--    </div>-->
    <div style="transition: width 300ms;" :style="{width: this.$store.state.detail == false ? '100%' : '500px',paddingRight: '20px'}">
      <v-card style="padding: 10px 0; height: 100vh; background-color: #F0F0F0;">
        <v-btn class="btn btn-primary" id="button">Convert</v-btn>
        <input class="form-control" type="file" id="input" accept=".xls,.xlsx" >
        <div class="mx-4">
          <filterHeaderComponent :count="dataTable[0].data.length" :data="dataTable[0].data"></filterHeaderComponent>
        </div>
        <div style="height: 100%; width: 100%; background-color: white;">
          <tableComponent v-if="this.$store.state.detail1 == false" :dataTable="dataTable" :search="this.$store.state.searchCompany" thColor="#F0F0F0"
                          :groubable="true" groupby="[0].letter"></tableComponent>
          <div v-if="this.$store.state.detail1 == true">
            <div v-for="(item, i) in dataTable[0].data" :key="i">
              <div class="d-flex flex-row align-center pa-3 mb-3 click" v-ripple>
                <v-avatar size="40px">
                  <img
                    :src="item[0].image">
                </v-avatar>
                <div class="d-flex flex-column ml-4">
                  <span class="font-weight-medium grey--text text--darken-3" style="font-size: 14px">{{item[0].name}}</span>
                  <span class="grey--text text--darken-3" style="font-size: 14px">{{item[0].job}}<span class="grey--text text--darken-1" style="font-size: 13px"> - {{item[3][0].city}}, {{item[3][0].quater}}</span></span>
                  <span class="grey--text text--darken-1" style="font-size: 13px">{{item[1][0].tel}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </div>
    <div :style="{width: this.$store.state.detail == true ? '100%' : '0px'}">
      <router-view></router-view>
    </div>
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script>
import tableComponent from '../../util/components/table.component'
import filterHeaderComponent from './filterHeader.component'
import { format } from 'date-fns'
import french from 'date-fns/locale/fr'
export default {
  name: 'Entreprise',
  data: () => ({
    dataTable: [
      {
        selected: [],
        headers: [
          {
            text: 'Infos de base',
            align: 'start',
            sortable: true,
            value: '[0].name',
            groupable: false
          },
          {text: 'Téléphones', value: '[1].tel', groupable: false},
          {text: 'Mails', value: '[2][0].mail', groupable: false},
          {text: 'Adresses', value: '[3].city', groupable: false},
          {text: 'Entreprises', value: '[4].name', groupable: false},
          {text: 'Tags', value: "['[5].type', '[5].tags']", groupable: false},
          {text: 'Date de création', value: '[6].date', groupable: false},
          // eslint-disable-next-line standard/object-curly-even-spacing
          {text: 'Icon', value: 'icon', sortable: false, groupable: false}
        ],
        data: [
          {
            0: {
              id: 1,
              image: 'https://randomuser.me/api/portraits/women/30.jpg',
              name: 'Janet Perkins',
              job: 'Manageur',
              letter: 'J'
            },
            1: [{
              tel: '+237 999 999 999',
              type: 'Portable - Bureau'
            }],
            2: [
              {
                mail: 'janetperkins@gmai.com',
                type: 'Mobile - Bureau'
              },
              {
                mail: 'janetperkins@gmai.com',
                type: 'Mobile - Bureau'
              }
            ],
            3: [
              {
                country: 'Cameroun',
                city: 'Douala',
                quater: 'Cité des palmiers',
                rue: 'Rue 39'
              },
              {
                country: 'Cameroun',
                city: 'Douala',
                quater: 'Cité des palmiers',
                rue: 'Rue 39'
              },
              {
                country: 'Cameroun',
                city: 'Douala',
                quater: 'Cité des palmiers',
                rue: 'Rue 39'
              }
            ],
            4: [{
              name: 'ATK Entreprise ETS',
              link: 'http://atk.steam.io'
            }],
            5: {tag: ['Prospect', 'Collègue', 'Employé'], type: 'page jaune'},
            6: {
              date: '22 Oct 2019',
              owner: 'Junior Steve Essono'
            }
          },
          {
            0: {
              id: 2,
              image: 'https://randomuser.me/api/portraits/women/32.jpg',
              name: 'Maeva Nkwamo',
              job: 'Directrice',
              letter: 'M'
            },
            1: [{
              tel: '+237 998 998 998',
              type: 'Portable - Maison'
            }],
            2: [{
              mail: 'maevankwamo@gmail.com',
              type: 'Fixe - Bureau'
            }],
            3: [{
              country: 'Cameroun',
              city: 'Douala',
              quater: 'Cité des palmiers',
              rue: 'Rue 39'
            }],
            4: [{
              name: 'ChickDev Sarl',
              link: 'http://atk.steam.io'
            }],
            5: {tag: ['Prospect', 'Employé'], type: 'page jaune'},
            6: {
              date: '06 Jan 2020',
              owner: 'Junior Steve Essono'
            }
          },
          {
            0: {
              id: 3,
              image: 'https://randomuser.me/api/portraits/men/30.jpg',
              name: 'Jules Meva\'a',
              job: 'Programmeur',
              letter: 'J'
            },
            1: [{
              tel: '+237 997 997 997',
              type: 'Portable - Bureau'
            }],
            2: [{
              mail: 'julesmevaa@gmail.com',
              type: 'Fixe - Maison'
            }],
            3: [{
              country: 'Cameroun',
              city: 'Douala',
              quater: 'Cité des palmiers',
              rue: 'Rue 39'
            }],
            4: [{
              name: 'Orange Cameroun',
              link: 'http://atk.steam.io'
            }],
            5: {tag: ['Employé'], type: 'page blanche'},
            6: {
              date: '10 Jul 2020',
              owner: 'Junior Steve Essono'
            }
          }
        ],
        items: ['baseItemComponent', 'telephoneItemComponent', 'mailItemComponent', 'adresseItemComponent', 'entrepriseContactItemComponent', 'tagItemComponent', 'createdDateItemComponent']
      }
    ]
  }),
  components: {
    tableComponent,
    filterHeaderComponent
  },
  created () {
    if (this.$router.currentRoute.path === '/contact/list') {
      this.$store.commit('goDetail', false)
      this.$store.commit('goDetail1', false)
    } else if (this.$router.currentRoute.path === '/contact/list/detail') {
      this.$store.commit('goDetail', true)
      this.$store.commit('goDetail1', true)
    }
  },
  mounted () {
    let selectedFile;
    document.getElementById('input').addEventListener('change', (event) => {
      selectedFile = event.target.files[0];
    })
    let data = [{
      name: 'jayanth',
      data: 'scd',
      abc: 'sdef'
    }]
    document.getElementById('button').addEventListener('click', () => {
      XLSX.utils.json_to_sheet(data, 'out.xlsx');
      if (selectedFile) {
        let fileReader = new FileReader();
        fileReader.readAsBinaryString(selectedFile);
        fileReader.onload = (event) => {
          let data = event.target.result;
          let workbook = XLSX.read(data, {type: 'binary'});
          workbook.SheetNames.forEach(sheet => {
            let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet]);
            let adressesObject
            let adressesList = []
            let mailsObject
            let mailsList = []
            let tagsObject
            let tagsList = []
            let telsObject
            let telsList = []
            let entreprisesObject
            let entreprisesList = []
            let arrays = []
            rowObject.forEach((item) => {
              let adresses = item.Adresses.split(',')
              let mails = item.Mails.split(',')
              let tags = item.Tags.split(',')
              let tels = item.Tels.split(',')
              let entreprises = item.Entreprises.split(',')
              for (let a in adresses) {
                let array = adresses[a].split('(')
                let location = array[0]
                let quater = array[1].slice(0, -1)
                adressesObject = {
                  city: location.split('-')[0],
                  country: location.split('-')[1],
                  quater: quater.split('-')[0],
                  rue: quater.split('-')[1]
                }
                adressesList.push(adressesObject)
              }
              for (let a in mails) {
                let array = mails[a].split('(')
                let mail = array[0]
                let type = array[1].slice(0, -1)
                mailsObject = {
                  mail: mail,
                  type: type
                }
                mailsList.push(mailsObject)
              }
              for (let a in tags) {
                tagsList.push(tags[a])
              }
              tagsObject = {
                tag: tagsList,
                type: item.Type
              }
              for (let a in tels) {
                let array = tels[a].split('(')
                let tel = array[0]
                let type = array[1].slice(0, -1)
                telsObject = {
                  tel: tel,
                  type: type
                }
                telsList.push(telsObject)
              }
              for (let a in entreprises) {
                let array = entreprises[a].split('(')
                let name = array[0]
                let link = array[1].slice(0, -1)
                entreprisesObject = {
                  name: name,
                  link: link
                }
                entreprisesList.push(entreprisesObject)
              }
              let array = {
                0: {
                  id: item.Id,
                  name: item.Name,
                  job: item.Job,
                  image: item.Image,
                  letter: item.Name.slice(0, 1)
                },
                1: telsList,
                2: mailsList,
                3: adressesList,
                4: entreprisesList,
                5: tagsObject,
                6: {
                  date: format(new Date(), 'dd MMM yyyy', { locale: french }),
                  owner: item.Owner
                }
              }
              arrays.push(array)
              telsList = []
              mailsList = []
              adressesList = []
              entreprisesList = []
              tagsList= []
            })
            console.log(arrays)
            this.$store.commit('importData', arrays)
            this.$router.push('/contact/import')
          })
        }
      }
    })
    let selected = this.$store.state.selectedImport
    if (selected.length > 0) {
      selected.forEach((item) =>{
        this.dataTable[0].data.push(item)
      })
    }
  },
  watch: {
    $route (to, from) {
      if (to.path === '/contact/list') {
        this.$store.commit('goDetail', false)
        this.$store.commit('goDetail1', false)
      } else if (to.path === '/contact/list/detail') {
        this.$store.commit('goDetail', true)
        this.$store.commit('goDetail1', true)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.background {
  position: relative;
}
.click {
  &:hover {
    cursor: pointer;
  }
}
</style>
