<template>
  <div class="d-flex flex-row align-center justify-space-between py-2" style="position: relative">
    <div class="d-flex align-center">
      <v-select
        :items="items"
        v-model="filter"
        class="filter"
        style="max-width: 170px; padding-bottom: 10px"
        hide-details
        @change="$store.commit('searchSelect',filter)"
      ></v-select>
      <div class="mx-3 d-flex align-center my-4" style="font-size: 14px">
        <span class="grey--text text--lighten-1">Total: </span>
        <span class="grey--text text--darken-2 ml-2">{{count}}</span>
      </div>
    </div>
    <div class="d-flex align-center justify-end" style="width: 50%">
      <v-text-field id="search" class="search" solo dense :style="{maxWidth: searchActive === false ? '36px' : '100%'}"
                    :class="{filterSearch: this.$store.state.detail == true && searchActive === true ? true : false}"
                    hide-details="auto" v-model="search" prepend-inner-icon="search" @keydown="changeSearch()"
                    clearable>
        <template slot="append">
          <v-icon v-if="searchActive === true && this.$store.state.detail == true" class="mr-1">filter_list</v-icon>
        </template>
        <template slot="prepend-inner">
          <v-icon v-if="searchActive === true && this.$store.state.detail == true" @click="searchActive = false" class="mr-1">arrow_back</v-icon>
          <v-icon @click="searchActive = true">search</v-icon>
        </template>
      </v-text-field>
      <v-btn @click="csvExport(csvData)" color="white" solo class="ml-2" max-width="36px" style="min-width: auto">
        <v-icon color="grey darken-2">import_export</v-icon>
      </v-btn>
      <v-btn color="white" solo class="ml-2" max-width="36px" style="min-width: auto">
        <v-icon color="grey darken-2">filter_list</v-icon>
      </v-btn>
      <v-menu bottom right offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="white" v-bind="attrs" v-on="on" solo class="ml-2" max-width="36px" style="min-width: auto">
            <v-icon color="grey darken-2">more_horiz</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>Supprimer</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script>
export default {
  name: 'FilterHeader',
  props: ['count', 'data'],
  data: () => {
    return ({
      items: ['Toutes', 'Page blanche', 'Page jaune'],
      filter: 'Toutes',
      tri: 'nom',
      tris: ['nom', 'poste', 'status'],
      search: '',
      searchActive: false
    })
  },
  components: {
  },
  methods: {
    changeSearch () {
      this.$store.commit('searchCompany', this.search)
    },
    csvExport (arrData) {
      let csvContent = 'data:text/csv;charset=utf-8,'
      csvContent += [
        Object.keys(arrData[0]).join(';'),
        ...arrData.map(item => Object.values(item).join(';'))
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')

      const data = encodeURI(csvContent)
      const link = document.createElement('a')
      link.setAttribute('href', data)
      link.setAttribute('download', 'export.csv')
      link.click()
    },
    exportToExcel($event, arr) {
      const fileName = 'test.xlsx'

      const ws = XLSX.WorkSheet = XLSX.utils.json_to_sheet(arr)
      const wb = XLSX.WorkBook = XLSX.utils.book_new()
      XLSX.utils.book_append_sheet(wb, ws, 'test')

      XLSX.writeFile(wb, fileName)
    }
  },
  computed: {
    csvData () {
      let itemList = []
      console.log(this.data)
      for (let i in this.data) {
        let tels = []
        let mails = []
        let adresses = []
        let entreprises = []
        for (let a in this.data[i][1]) {
          let tel = `${this.data[i][1][a].tel} (${this.data[i][1][a].type})`
          tels.push(tel)
        }
        for (let a in this.data[i][2]) {
          let mail = `${this.data[i][2][a].mail} (${this.data[i][2][a].type})`
          mails.push(mail)
        }
        for (let a in this.data[i][3]) {
          let adresse = `${this.data[i][3][a].city} - ${this.data[i][3][a].country} (${this.data[i][3][a].quater} - ${this.data[i][3][a].rue})`
          adresses.push(adresse)
        }
        for (let a in this.data[i][4]) {
          let entreprise = `${this.data[i][4][a].name} (${this.data[i][4][a].link})`
          entreprises.push(entreprise)
        }

        let object = {
          Id: Math.floor(Math.random() * Date.now()),
          Image: this.data[i][0].image,
          Job: this.data[i][0].job,
          Name: this.data[i][0].name,
          Tels: tels,
          Mails: mails,
          Adresses: adresses,
          Entreprises: entreprises,
          Type: this.data[i][5].type,
          Tags: this.data[i][5].tag,
          Date: this.data[i][6].date,
          Owner: this.data[i][6].owner
        }
        itemList.push(object)
      }
      return itemList
    }
  },
  created () {
  },
  mounted () {
    document.addEventListener('click', function (event) {
      var obj = document.getElementById('search')
      if (!obj.contains(event.target)) {
        console.log('Outside click detected!')
      } else {
        console.log('Inside click detected!')
      }
    })
  }
}
</script>
<style lang="scss" scoped>
  .filter >>> .v-input__slot:before{
    border-color: transparent !important;
  }
  .tri >>> .v-input__slot:before{
    border-color: transparent !important;
  }
  .filter >>> .v-select__selection--comma{
    font-size: 24px;
    height: 26px;
    color: #3F51B5
  }
  .tri >>> .v-select__selection--comma{
    font-size: 12px;
  }
  .search >>> .v-input__slot{
    padding: 0 6px !important;
    &:hover{
      cursor: pointer;
    }
  }
  .search{
    transition: max-width 1s;
  }
  .filterSearch{
    width: 100%;
    position: absolute;
    z-index: 1;
  }
</style>
