<template>
  <div style="padding: 20px 70px; width: 100%" class="d-flex flex-column">
    <v-btn width="200px" class="my-4" @click="importBtn()">import</v-btn>
    <v-card style="height: 100%; width: 100%; background-color: white;">
      <tableComponent :dataTable="dataTable" thColor="#F0F0F0"></tableComponent>
    </v-card>
  </div>
</template>
<script>
import tableComponent from '../../util/components/table.component'
import filterHeaderComponent from './filterHeader.component'
export default {
  name: 'Import',
  data: () => ({
    dataTable: [
      {
        selected: [],
        headers: [
          {
            text: 'Infos de base',
            align: 'start',
            sortable: true,
            value: '[0].name',
            groupable: false
          },
          {text: 'Téléphones', value: '[1].tel', groupable: false},
          {text: 'Mails', value: '[2][0].mail', groupable: false},
          {text: 'Adresses', value: '[3].city', groupable: false},
          {text: 'Entreprises', value: '[4].name', groupable: false},
          {text: 'Tags', value: "['[5].type', '[5].tags']", groupable: false},
          {text: 'Date de création', value: '[6].date', groupable: false},
          // eslint-disable-next-line standard/object-curly-even-spacing
          {text: 'Icon', value: 'icon', sortable: false, groupable: false}
        ],
        data: [],
        items: ['baseItemComponent', 'telephoneItemComponent', 'mailItemComponent', 'adresseItemComponent', 'entrepriseContactItemComponent', 'tagItemComponent', 'createdDateItemComponent']
      }
    ]
  }),
  components: {
    tableComponent,
    filterHeaderComponent
  },
  created () {
    this.dataTable[0].data = this.$store.state.importData
  },
  mounted () {
  },
  methods: {
    importBtn () {
      this.$store.commit('selectedImport', this.dataTable[0].selected)
      this.$router.push('/contact/list')
    }
  }
}
</script>
<style lang="scss" scoped>
.background {
  position: relative;
}
.click {
  &:hover {
    cursor: pointer;
  }
}
</style>
