<template>
    <div>
      <div class="background">
        <background></background>
      </div>
      <div class="contain" :style="{width : signin ? '360px': '500px'}">
        <v-container style="position: relative; overflow:auto;">
          <div class="bloc elevation-3">
            <div class="header-bloc flex-column" :style="{borderRadius: '10px 10px 0 0', height : signin == true ? '136px': '190px'}">
              <transition enter-active-class="animated zoomIn"
                          leave-active-class="animated zoomOut" mode="out-in">
                <v-btn v-if="password && signin" @click="$router.go(-1),submit()" icon color="white" class="back-button">
                  <v-icon>arrow_back</v-icon>
                </v-btn>
              </transition>
                <img class="header-bloc-logo mt-8" src="~@/assets/logo.png" :style="{width : signin == true ? '64px': '50px', height : signin == true ? '64px': '50px'}">
                <span class="white--text my-2 text-subtitle-1" v-if="!signin">Créer un nouveau compte</span>
              <v-spacer></v-spacer>
              <v-stepper v-model="stepper" style="background-color: transparent; width:100%" class="elevation-0" v-if="!signin">
                <v-stepper-header>
                  <v-stepper-step :complete="stepper > 1" step="1" color="pink">
                    <span class="white--text text-subtitle-2" :style="{fontWeight: stepper == 1 ? '400' : '300'}">Détails personnel</span>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="stepper > 2" step="2" color="pink">
                    <span class="white--text text-subtitle-2 font-weight-thin" :style="{fontWeight: stepper == 2 ? '400' : '300'}">Entreprises</span>
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step step="3" color="pink">
                    <span class="white--text text-subtitle-2 font-weight-thin" :style="{fontWeight: stepper == 3 ? '400' : '300'}">Recapitulatif</span>
                  </v-stepper-step>
                </v-stepper-header>
              </v-stepper>
            </div>
            <v-progress-linear class="d-lg-none d-xl-none d-md-none d-sm-none" :indeterminate="isIndeterminate" color="pink"> </v-progress-linear>
            <div class="container-bloc" :style="{height : signin == !password ? '268px': '328px'}">
              <div style="overflow:hidden">
                <transition enter-active-class="animated slideInRight fast"
                            leave-active-class="animated slideOutLeft fast" mode="out-in">
                  <router-view> </router-view>
                </transition>
              </div>
          </div>
          </div>
            <v-btn v-if="signin === password ? false : true" @click="change"
                   class="my-3 elevation-4 signin-btn" large color="white" style="width:100%">
              S'inscrire</v-btn>
            <v-btn v-if="!signin" @click="change"
                   class="my-3 elevation-4 signin-btn" large color="white" style="width:100%">
              Se connecter</v-btn>
        </v-container>
        <div>
          <socialMedia></socialMedia>
        </div>
      </div>
    </div>
</template>

<script>
// @ is an alias to /src
import background from '@/util/components/background.component.vue'
import socialMedia from '@/module.users/module.auth/components/global/component_socialmedia.vue'

export default {
  name: 'Background',
  data: () => ({
    password: false,
    signin: true,
    stepper: 1
  }),
  components: {
    background,
    socialMedia
  },
  methods: {
    submit () {
      this.$store.commit('onload', true)
    },
    change () {
      this.signin = !this.signin
      this.$router.push('signup/personnal')
    }
  },
  computed: {
    isIndeterminate () {
      return this.$store.state.isloading
    }
  },
  mounted () {
    if (this.$route.path === '/login') {
      this.password = false
    } else {
      this.password = true
    }
  },
  watch: {
    $route (to, from) {
      this.password = !this.password
    }
  }
}
</script>

<style scoped>
.background {
  position: relative;
}
.contain {
  position: fixed;
  top: 0px;
  left: 50%;
  max-height: 100%;
  overflow-y: auto;
  transform: translate(-50%);
  width: 360px;
  padding: 50px 0;
  background-color: transparent;
  transition: width 1s;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.bloc{
  width: 100%;
  height: auto;
  margin: 0px;
  border-radius: 3px;
}

.header-bloc{
  background-color: rgba(57, 90, 185, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-button{
  position: absolute;
  top: 10px;
  left: 10px;
}

.container-bloc{
  background-color: white;
  padding: 20px;
  transition: height 1s;
}
.signin-btn{
  transition: height 5s !important;
}
.header-bloc-logo{
  transition: height 1s;
  transition: width 1s;
}
.fast {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.v-stepper__label{
  color: white !important;
}
</style>
