<template>
  <div>
    <v-app-bar width="100%"
      color="#3F51B5"
      flat
      dark
    >
      <v-btn icon dark @click="menuClick()">
        <v-icon>menu</v-icon>
      </v-btn>

      <v-toolbar-title class="d-flex"><div class="font mobile-app">steam&nbsp;&nbsp;</div><span class="mobile-app">|&nbsp;&nbsp;</span>
       <span>{{ title }}</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-avatar class="mr-2 mobile-app" size="24">
        <img
          src="https://cdn.vuetifyjs.com/images/john.jpg"
          alt="Freddy Kamgang"
        >
      </v-avatar>

      <span class="mobile-app" style="font-size: 14px">F-Entreprise Sarl</span>

      <v-menu bottom offset-y :close-on-content-click="closeOnContentClick">
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="mobile-app"
            icon
            v-bind="attrs"
            v-on="on">
            <v-icon>arrow_drop_down</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-badge
        overlap
        color="pink"
        content="12"
        class="mx-4"
      >
        <v-icon>notifications_none</v-icon>
      </v-badge>

      <v-btn icon class="mobile-app">
        <v-icon>settings</v-icon>
      </v-btn>

      <v-btn icon class="mobile-app">
        <v-icon>help_outline</v-icon>
      </v-btn>

      <v-avatar class="ml-2" size="42">
        <img
          src="https://cdn.vuetifyjs.com/images/john.jpg"
          alt="Freddy Kamgang"
        >
      </v-avatar>
    </v-app-bar>
    <v-navigation-drawer
      :mini-variant="miniVariant"
      fixed
      :permanent="permanent"
      :floating="miniVariant"
      clipped
      v-model="drawer"
      :style="{top:isMobile == true ? '0px' : '64px'}"
      hide-overlay
    >
      <div class="d-flex justify-center my-3" style="width: 100%">
        <img width="100px" v-if="overlay" src="../../assets/logo1.png"/>
      </div>
      <v-list
        dense
        nav
        :rounded="miniVariant"
        :shaped="!miniVariant"
        :style="{padding : !miniVariant ? '8px 0px !important' : '8px !important'}"
      >
        <v-list-item-group color="primary">
          <v-list-item
            v-for="item in menus"
            :key="item.title"
            :to="item.link"
            :style="{padding : miniVariant ? '0px 8px !important' : '0 16px !important'}"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    miniVariant: true,
    isMobile: false,
    drawer: false,
    permanent: false,
    overlay: false,
    menus: [
      {
        icon: 'people',
        title: 'Contact',
        link: '/contact/list',
        active: true
      },
      {
        icon: 'message',
        title: 'Message',
        link: '',
        active: false
      },
      {
        icon: 'settings',
        title: 'Paramètre',
        link: '/parameter',
        active: false
      },
      {
        icon: 'event',
        title: 'Evènement',
        link: '',
        active: false
      },
      {
        icon: 'more_horiz',
        link: '',
        active: false
      }
    ],
    items: [
      {title: 'Click Me'},
      {title: 'Click Me'},
      {title: 'Click Me'},
      {title: 'Click Me 2'}
    ],
    title: '',
    closeOnContentClick: true,
    routeArray: []
  }),
  computed: {
    miniVariantInitial () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return false
        case 'sm':
          return true
        case 'md':
          return true
        case 'lg':
          return true
        case 'xl':
          return true
      }
    },
    getScroll () {
      let scroll = this.$store.state.scroll
      return scroll
    }
  },
  created () {
    let route = this.$router.currentRoute.path
    route = route.slice(1)
    this.routeArray = route.split('/');
    if (this.$vuetify.breakpoint.xsOnly) {
      this.miniVariant = false
      this.drawer = false
      this.permanent = false
      this.overlay = true
    } else {
      this.miniVariant = true
      this.drawer = true
      this.permanent = true
      this.overlay = false
    }
    if (window.innerWidth < 960) {
      this.isMobile = true
    } else {
      this.isMobile = false
    }
  },
  mounted () {
    const media = window.matchMedia('(max-width: 600px)')
    const mediaMobile = window.matchMedia('(max-width: 959px)')
    let screenTest = (e) => {
      if (!e.matches) {
        this.miniVariant = true
        this.drawer = true
        this.permanent = true
        this.overlay = false
      } else {
        this.miniVariant = false
        this.drawer = false
        this.permanent = false
        this.overlay = true
      }
    }
    let screenTestMobile = (e) => {
      if (e.matches) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
    }
    media.addEventListener('change', screenTest)
    mediaMobile.addEventListener('change', screenTestMobile)
    console.log(this.routeArray)
    if (this.routeArray[0] === 'parameter') {
      this.title = 'Paramètres'
    } else if (this.routeArray[0] === 'contact') {
      this.title = 'CRM - Contacts Management'
      if (this.getScroll === 100 && this.routeArray[1] === 'userprofile') {
        this.title = 'Profil utilisateur'
      }
    }
  },
  methods: {
    menuClick () {
      if (window.innerWidth < 600) {
        this.miniVariant = false
        this.drawer = !this.drawer
      } else {
        this.miniVariant = !this.miniVariant
        this.drawer = true
      }
    }
  }
}
</script>

<style scoped>
  .font{
    font-family: 'Permanent Marker';
  }
  @media (min-width: 769px) and (max-width: 2560px) {
    .mobile-app{
      display: block;
    }
  }
  @media (min-width: 600px) and (max-width: 768px) {
    .mobile-app{
      display: block;
    }
  }
  @media (max-width: 600px){
    .mobile-app{
      display: none;
    }
  }
</style>
