<template>
<v-app>
  <div class="background">
    <div class="cover"></div>
    <v-progress-linear :indeterminate="isIndeterminate" color="pink" class="progress d-none d-lg-block d-xl-block d-md-block d-sm-block">
    </v-progress-linear>
    <span class="copyright">Tous droits réservés à ChickDev Space 2018</span>
    <v-btn icon color="white" class="help">
      <v-icon>help</v-icon>
    </v-btn>
  </div>
</v-app>
</template>

<script>
export default {
  name: 'Background',
  components: {},
  data: () => ({
  }),
  computed: {
    isIndeterminate () {
      console.log(this.$store.state.isloading)
      return this.$store.state.isloading
    }
  }
}
</script>

<style lang="scss" scoped>
body{
  margin: 0;
}
html{
  overflow-y: hidden !important;
}
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.background {
    background: url("../../assets/2.png"),url('../../assets/bg.png');
    background-repeat: no-repeat,repeat-x;
    background-size: 100% 33vh, auto auto;
    width: 100%;
    height: 100% !important;
    position:relative;
}
.cover{
  background-color: rgba(70, 70, 156, 0.5);
  position: absolute;
  width: 100%;
  height: 33vh;
}
.progress {
    top: 33vh;
}
.contain{
  height:100%;
  border-radius: 3px;
  position:fixed;
}
.copyright{
  font-size: 10px;
  color: #959595;
  text-align: center;
  position:fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  padding: 10px;
}
  .help{
    position:fixed;
    top:10px;
    left:10px;
  }
</style>
