<template>
  <div>
    <v-data-table
      :style="cssProps"
      style="height: 100vh;"
      :hide-default-footer="true"
      v-model="dataTable[0].selected"
      :headers="dataTable[0].headers"
      :items="dataTable[0].data"
      item-key="[0].id"
      sort-by="[0].name"
      :search="search"
      :must-sort="true"
      show-select
      show-group-by
      :group-by="this.groupby"
      class="data-table"
      :class="{'col-second' : this.scrolling,'col-last' : this.scrolling || dataTable[0].headers.length > 4, 'data-table-scroll' : getScroll > 284 ? true : false}">
      <template v-slot:item.data-table-select="{ item, isSelected, select }">
        <v-simple-checkbox
          :value="isSelected"
          @input="select($event)"
        ></v-simple-checkbox>
      </template>
      <template v-for="(header, index) in dataTable[0].headers.length" v-ripple v-slot:[gomycell(index)]="item">
          <div :key="index">
            <div v-if="index !== dataTable[0].headers.length"  :dataitem="item.item[index]" :is="dataTable[0].items[index]">
            </div>
            <v-btn v-if="gomycell(index) == 'item.icon'" icon>
              <v-icon>more_horiz</v-icon>
            </v-btn>
          </div>
        </template>
      <template v-slot:header.icon="{ item }">
        <v-btn small icon @click="scrollLeft()">
          <v-icon>mdi-arrow-left-drop-circle</v-icon>
        </v-btn>
        <v-btn small icon @click="scrollRight()">
          <v-icon>mdi-arrow-right-drop-circle</v-icon>
        </v-btn>
      </template>
      <template slot="group.header" slot-scope="{ group, headers, toggle, isOpen, items, index }">
        <th :colspan="headers.length" class="js-group-header">
          <div class="d-flex flex-row align-center">
            <v-simple-checkbox v-model="groupSelect[0]" @click="selectGroup(items,index)"></v-simple-checkbox>
            {{ group }}
            <v-btn @click="toggle" small icon :ref="group" :data-open="isOpen" style="right: -300px">
              <v-icon v-if="isOpen">mdi-chevron-up</v-icon>
              <v-icon v-else>mdi-chevron-down</v-icon>
            </v-btn>
          </div>
        </th>
        <td style="display: none">ddd</td>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import entrepriseItemComponent from '@/module.parameters/component/parameter/entreprise/items/entreprise.item.component.vue'
import posteItemComponent from '@/module.parameters/component/parameter/entreprise/items/poste.item.component.vue'
import statusItemComponent from '@/module.parameters/component/parameter/entreprise/items/status.item.component.vue'
import baseItemComponent from '@/module.contacts/components/items/base.item.component.vue'
import telephoneItemComponent from '@/module.contacts/components/items/telephone.item.component.vue'
import adresseItemComponent from '@/module.contacts/components/items/adresse.item.component.vue'
import mailItemComponent from '@/module.contacts/components/items/mail.item.component.vue'
import entrepriseContactItemComponent from '@/module.contacts/components/items/entrepriseContact.item.component.vue'
import tagItemComponent from '@/module.contacts/components/items/tag.item.component.vue'
import createdDateItemComponent from '@/module.contacts/components/items/createdDate.item.component.vue'

export default {
  name: 'Parameter',
  props: ['dataTable', 'search', 'thColor', 'groubable', 'groupby'],
  data: () => {
    return ({
      scrolling: false,
      selected: [],
      groupSelect: [false]
    })
  },
  components: {
    entrepriseItemComponent,
    posteItemComponent,
    statusItemComponent,
    baseItemComponent,
    telephoneItemComponent,
    adresseItemComponent,
    mailItemComponent,
    entrepriseContactItemComponent,
    tagItemComponent,
    createdDateItemComponent
  },
  methods: {
    scrollRight () {
      let table = this.$el.querySelector('.v-data-table__wrapper')
      let scrollAmount = 0
      let scrollMax = table.clientWidth
      table.scrollTo({
        top: 0,
        left: Math.max(scrollAmount += 200, scrollMax),
        behavior: 'smooth'
      })
    },
    scrollLeft () {
      let table = this.$el.querySelector('.v-data-table__wrapper')
      let scrollAmount = 0
      table.scrollTo({
        top: 0,
        left: Math.min(scrollAmount -= 200, 0),
        behavior: 'smooth'
      });
    },
    gomycell (key) {
      let value = this.dataTable[0].headers[key].value
      return `item.${value}`
    },
    customSort (items, index, isDesc) {
      let entreprise = []
      let poste = []
      let status = []

      for (let i in items) {
        entreprise.push(items[i][0])
        poste.push(items[i][1])
        status.push(items[i][2])
      }
      if (index[0] === 'entreprise') {
        if (!isDesc[0]) {
          entreprise.sort((a, b) => (a.name > b.name ? 1 : -1))
        } else {
          entreprise.sort((a, b) => (a.name > b.name ? -1 : 1))
        }
      } else if (index[0] === 'poste') {
        if (!isDesc[0]) {
          poste.sort((a, b) => (a.name > b.name ? 1 : -1))
        } else {
          poste.sort((a, b) => (a.name > b.name ? -1 : 1))
        }
      } else if (index[0] === 'status') {
        if (!isDesc[0]) {
          status.sort((a, b) => (a.type > b.type ? 1 : -1))
        } else {
          status.sort((a, b) => (a.type > b.type ? -1 : 1))
        }
      }
      for (let i in items) {
        items[i][0] = entreprise[i]
        items[i][1] = poste[i]
        items[i][2] = status[i]
      }
      return items
    },
    findIndex (node) {
      let i = 1;
      // eslint-disable-next-line no-cond-assign
      while (node = node.previousSibling) {
        if (node.nodeType === 1) { ++i }
      }
      return i;
    },
    selectGroup (items, toggle, index) {
      console.log(toggle);
      let bool = !this.groupSelect[index]
      this.groupSelect[index] = bool
      this.groupSelect[index] = !this.groupSelect[index]
      if (this.groupSelect[0] === true) {
        items.forEach((item) => {
          this.selected.push(item)
        })
      } else {
        items.forEach((item, index) => {
          items.forEach((item, index) => {
            this.selected.splice(index, 1);
          })
        })
      }
    }
  },
  computed: {
    getScroll () {
      let scroll = this.$store.state.scroll
      return scroll
    },
    cssProps () {
      return {
        '--color': this.thColor
      }
    }
  },
  mounted () {
    console.log(this.$slots);
    let table = this.$el.querySelector('.v-data-table__wrapper')
    let th = this.$el.querySelector('th:nth-child(2)')
    let thlast = this.$el.querySelector('th:last-child')
    let tdlast = this.$el.querySelector('td:last-child')
    table.addEventListener('scroll', () => {
      if (table.scrollLeft === 0) {
        if (this.dataTable[0].headers.length <= 4) {
          th.style.boxShadow = 'none'
          thlast.style.boxShadow = 'none'
          tdlast.style.boxShadow = 'none'
        }
        th.style.boxShadow = 'none'
        this.scrolling = false
      } else {
        th.style.boxShadow = '5px 0 7px -2px #00000036'
        tdlast.style.boxShadow = '-5px 0 7px -2px #00000036'
        thlast.style.boxShadow = '-5px 0 7px -2px #00000036'
        this.scrolling = true
      }
    })
  }
}
</script>
<style lang="scss" scoped>
  .data-table >>> .v-data-table-header th.sortable.active{
    color: #3F51B5;
  }
  .data-table >>> .mdi-arrow-up::before{
    color: #3F51B5;
  }
  .data-table >>> th:not(:last-child){
    min-width: 240px;
  }
  .data-table >>> .v-data-table__wrapper {
    overflow: hidden;
  }
  .data-table >>> tr{
    &:hover{
      .td &{
        background-color: inherit;
      }
    }
  }
  .data-table >>> td{
    background-color: white;
    padding: 0px;
  }
  .data-table >>> th:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    left: 56px;
    z-index: 1;
  }
  .data-table >>> th:first-child{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }
  .data-table >>> th:last-child{
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    min-width: 50px !important;
  }
  .data-table >>> td:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    left: 56px;
    z-index: 1;
    padding-left: 0px !important;
  }
  .data-table >>> td:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
  }
  .data-table >>> td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
    background-color: white;
    min-width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
  }
  .col-second >>> td:nth-child(2) {
    box-shadow: 5px 0 7px -2px #00000036;
  }
  .col-last >>> td:last-child {
    box-shadow: -5px 0 7px -2px #00000036;
  }
  .col-last >>> th:last-child {
    box-shadow: -5px 0 7px -2px #00000036;
  }
  .data-table >>> th {
    background-color: var(--color);
  }
  @media (min-width: 769px) and (max-width: 2560px) {
    .data-table-scroll >>> thead{
      position: fixed !important;
      width: 800px;
      top:114px;
      z-index: 5;
    }
  }
  @media (min-width: 600px) and (max-width: 768px) {
    .data-table-scroll >>> thead{
      position: fixed !important;
      left: 80px;
      right: 80px;
      top:114px;
      z-index: 5;
    }
  }
  @media (max-width: 600px){
    .data-table-scroll >>> thead{
      position: fixed !important;
      z-index: 5;
      top: 56px !important;
    }
  }
</style>
