<template>
  <div class="d-flex flex-column user-contain">
    <span class="my-4 grey--text text--darken-2 text-caption font-weight-medium">Général</span>
    <v-expansion-panels accordion >
      <v-expansion-panel class="d-flex flex-row expand" @click="userDetail()">
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row" style="font-size: 13px">
              <v-avatar class="mr-2" size="40">
                <img
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                  alt="Freddy Kamgang"
                >
              </v-avatar>
              <div class="d-flex flex-column justify-center">
                <span class="grey--text text--darken-3 font-weight-medium">Freddy Kamgang</span>
                <span class="mt-2 grey--text text--darken-2">freddykamgang@gmail.com</span>
              </div>
            </div>
            <v-btn small outlined class="ma-6 btn-1" style="color: #3F51B5">Déconnexion</v-btn>
          </div>
        </v-expansion-panel-header>
        <div class="line d-flex justify-center"></div>
        <v-btn small outlined class="mx-4 my-6 btn" style="color: #3F51B5">Déconnexion</v-btn>
      </v-expansion-panel>
      <v-expansion-panel @click="$router.push('/parameter/userprofile/identifiant')">
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Identifiants</span>
            <span class="mt-2 grey--text text--darken-2">List phone numbers and email address</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel @click="$router.push('/parameter/userprofile/securite')">
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Security</span>
            <span class="mt-2 grey--text text--darken-2">Config the security for the app</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Related companies</span>
            <span class="mt-2 grey--text text--darken-2">Show the related entreprise</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Preferences</span>
            <span class="mt-2 grey--text text--darken-2">Parameters all preferences</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
    </v-expansion-panels>
    <span class="my-4 grey--text text--darken-2 text-caption font-weight-medium">Company Overview</span>
    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-row" style="font-size: 13px">
            <v-avatar class="mr-2" size="40">
              <img
                src="https://cdn.vuetifyjs.com/images/john.jpg"
                alt="Freddy Kamgang"
              >
            </v-avatar>
            <div class="d-flex flex-column justify-center">
              <span class="grey--text text--darken-3 font-weight-medium">F-Entreprise Sarl</span>
              <span class="mt-2 grey--text text--darken-2">Hired on 2020-07-16</span>
            </div>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Company structure</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">Manage users</span>
            <span class="mt-2 grey--text text--darken-2">CRUD on the user</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header expand-icon="arrow_right">
          <div class="d-flex flex-column" style="font-size: 13px">
            <span class="grey--text text--darken-3 font-weight-medium">User rules</span>
          </div>
        </v-expansion-panel-header>
      </v-expansion-panel>
    </v-expansion-panels>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>
<script>
export default {
  name: 'Parameter',
  data: () => ({
    click: false
  }),
  methods: {
    userDetail () {
      this.click = true
      this.$router.push('/parameter/userprofile/base')
    }
  },
  created () {
    this.click = false
  }
}
</script>
<style lang="scss" scoped>
  .line{
    border-left: #e0dfdf thin solid;
    margin: 15px 0;
  }
  .expand{
    transition: height 0.5s;
  }
  @media (min-width: 600px) and (max-width: 2560px) {
    .user-contain{
      margin: 0 20%;
    }
    .btn-1{
      display: none;
    }
  }
  @media (max-width: 600px){
    .user-contain{
      width: 80vw;
    }
    .btn{
      display: none;
    }
  }
</style>
