<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'Signin',
  components: {
  },
  data: () => ({
  }),
  beforeMount () {
    setTimeout(() => this.$store.commit('onload', false), 1000)
  },
  computed: {
  }
}
</script>

<style lang="scss" scoped>
</style>
